In [1]:
#Import necessary libraries 
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
AHR_rn5_Coor = pd.read_csv('./RatFemaleChIPSeq_2hr_070116.txt', 
                            delimiter='\t',
                            header=0,  # No header in the file
                            index_col=None)

AHR_rn5_Coor['Chromosome'] = 'chr' + AHR_rn5_Coor['Chromosome']


AHR_rn5_Coor

,Active Region,Chromosome,Start,End,Length,Gene List,Dist to Start,Location of genomic region,Fold-Change,FDR
0,1,chr2,176814225,176815374,1150,Lekr1,-6895.0,TSS_upstream,33.877817,0.000000
1,2,chr8,58330150,58330799,650,NaN,NaN,NaN,14.597577,0.000000
2,3,chr8,62246875,62248624,1750,Cyp1a1,-1296.0,TSS_upstream,16.320779,0.000000
3,4,chr1,33067600,33068474,875,Ahrr,38593.0,intron,19.422729,0.000000
4,5,chr6,2301075,2302124,1050,Cyp1b1,-956.0,TSS_upstream,17.049163,0.000000
...,...,...,...,...,...,...,...,...,...,...
14898,13865,chr2,267220975,267221099,125,NaN,NaN,NaN,1.919450,0.926112
14899,13866,chr16,83285600,83285724,125,Irs2,-1522.0,TSS_upstream,1.969980,0.926112
14900,13867,chr1,255475800,255475899,100,Uhrf2,-179.0,TSS_upstream,1.820856,0.926112
14901,13868,chr1,48634025,48634124,100,NaN,NaN,NaN,1.782129,0.926112
14902,13869,chr4,55435850,55435974,125,NaN,NaN,NaN,1.885781,0.926112

In [12]:
AHR_rn5_Coor_for_Liftover = AHR_rn5_Coor[['Chromosome','Start','End','Active Region']]
AHR_rn5_Coor_for_Liftover

      Chromosome      Start        End  Active Region
0           chr2  176814225  176815374              1
1           chr8   58330150   58330799              2
2           chr8   62246875   62248624              3
3           chr1   33067600   33068474              4
4           chr6    2301075    2302124              5
...          ...        ...        ...            ...
14898       chr2  267220975  267221099          13865
14899      chr16   83285600   83285724          13866
14900       chr1  255475800  255475899          13867
14901       chr1   48634025   48634124          13868
14902       chr4   55435850   55435974          13869

[14903 rows x 4 columns]

In [13]:
# Export final_df as a tab-delimited file without header and index
AHR_rn5_Coor_for_Liftover.to_csv("rn5_AHR_For_Liftover.bed", sep='\t', index=False, header=False)

In [14]:
!wget -O liftOver https://hgdownload.soe.ucsc.edu/admin/exe/linux.x86_64/liftOver
!chmod +x liftOver
!wget -O rn5ToRn7.over.chain.gz https://hgdownload.soe.ucsc.edu/goldenPath/rn5/liftOver/rn5ToRn7.over.chain.gz

--2025-03-04 13:43:27--  https://hgdownload.soe.ucsc.edu/admin/exe/linux.x86_64/liftOver
Resolving hgdownload.soe.ucsc.edu (hgdownload.soe.ucsc.edu)... 128.114.119.163
Connecting to hgdownload.soe.ucsc.edu (hgdownload.soe.ucsc.edu)|128.114.119.163|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24387728 (23M)
Saving to: â€˜liftOverâ€™

liftOver            100%[===================>]  23.26M  12.1MB/s    in 1.9s

2025-03-04 13:43:29 (12.1 MB/s) - â€˜liftOverâ€™ saved [24387728/24387728]

--2025-03-04 13:43:29--  https://hgdownload.soe.ucsc.edu/goldenPath/rn5/liftOver/rn5ToRn7.over.chain.gz
Resolving hgdownload.soe.ucsc.edu (hgdownload.soe.ucsc.edu)... 128.114.119.163
Connecting to hgdownload.soe.ucsc.edu (hgdownload.soe.ucsc.edu)|128.114.119.163|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5052346 (4.8M) [application/x-gzip]
Saving to: â€˜rn5ToRn7.over.chain.gzâ€™

rn5ToRn7.over.chain 100%[===================>]   4.82M  7.49MB/s    in 0.6s

2025-03-04 13:43:30 (7.49 MB/s) - â€˜rn5ToRn7.over.chain.gzâ€™ saved [5052346/5052346]

In [15]:
!./liftOver -minMatch=0.7 rn5_AHR_For_Liftover.bed rn5ToRn7.over.chain.gz ./AHR_Enrichment_Female_2hr_rn7.bed ./unmapped_AHR_Enrichment_Female_2hr_rn7.bed

Reading liftover chains
Mapping coordinates

In [19]:
columns = ['Chr', 'Start', 'End', 'Active Region']

AHR_rn7_Coor = pd.read_csv('./AHR_Enrichment_Female_2hr_rn7.bed', 
                            delimiter='\t',
                            header=None,  # No header in the file
                            names=columns,
                            index_col=None)



AHR_rn7_Coor

         Chr      Start        End  Active Region
0       chr2  149883636  149884785              1
1       chr8   55557059   55557654              2
2       chr8   58093927   58095676              3
3       chr1   29032241   29033115              4
4       chr6   15340879   15341928              5
...      ...        ...        ...            ...
14781   chr2  231747653  231747777          13865
14782  chr16   78486664   78486788          13866
14783   chr1  227814734  227814833          13867
14784   chr1   47011019   47011118          13868
14785   chr4   57011177   57011301          13869

[14786 rows x 4 columns]

In [21]:
rn5_for_merge = AHR_rn5_Coor[['Active Region','Fold-Change','FDR']]

In [24]:
merged_df = AHR_rn7_Coor.merge(rn5_for_merge, on="Active Region", how="left").drop_duplicates(keep='first')
merged_df

         Chr      Start        End  Active Region  Fold-Change       FDR
0       chr2  149883636  149884785              1    33.877817  0.000000
1       chr8   55557059   55557654              2    14.597577  0.000000
2       chr8   58093927   58095676              3    16.320779  0.000000
3       chr1   29032241   29033115              4    19.422729  0.000000
4       chr6   15340879   15341928              5    17.049163  0.000000
...      ...        ...        ...            ...          ...       ...
18289   chr2  231747653  231747777          13865     1.919450  0.926112
18290  chr16   78486664   78486788          13866     1.969980  0.926112
18291   chr1  227814734  227814833          13867     1.820856  0.926112
18292   chr1   47011019   47011118          13868     1.782129  0.926112
18293   chr4   57011177   57011301          13869     1.885781  0.926112

[13756 rows x 6 columns]

In [29]:
merged_df.to_csv("AHR_Enrichment_Female_2hr_rn7.bed", sep='\t', index=False, header=False)