# Process AHR Enrichment sites

### 1. Import Packages

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### 2. Import raw data

In [4]:
# Define the file path
file_path = "../01_Intersect_AHR-CHIP_and_GTF/mm39_AHR_Binding_Regions.bed"

# Read the file into a DataFrame
df = pd.read_csv(file_path, sep='\t', header=0, index_col=None)

# Display the DataFrame
df

,Chromosome,AHR_Bound_Start,AHR_Bound_End,AHR_Site_Unique_ID,GTF_Chromosome,Gene_Start,Gene_End,Gene_Strand,Gene_ORIG_Start,Metadata,Unique Peak ID,Fold-Change,FDR
0,chr1,3326148,3326272,19350,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xkr4"";gene_name2""NM_001011874(Non-Dups)"";gene_biotyp...",19350,1.61,0.080145
1,chr1,3391423,3391572,18914,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xkr4"";gene_name2""NM_001011874(Non-Dups)"";gene_biotyp...",18914,1.76,0.067137
2,chr1,3493323,3493697,12751,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xkr4"";gene_name2""NM_001011874(Non-Dups)"";gene_biotyp...",12751,1.93,0.002963
3,chr1,3547998,3548297,4100,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xkr4"";gene_name2""NM_001011874(Non-Dups)"";gene_biotyp...",4100,2.87,0.000000
4,chr1,3547998,3548297,4100,chr1,3526810,3583776,+,3536810,"gene_id""Gm1992"";transcript_id""Gm1992"";gene_name""Gm1992"";gene_name2""Gm1992"";gene_biotype""antisense""",4100,2.87,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63682,chrY,29559970,29560069,22408,.,-1,-1,.,.,.,22408,1.54,0.213942
63683,chrY,40828445,40828644,21376,.,-1,-1,.,.,.,21376,1.54,0.159602
63684,chrY,61734478,61734577,21478,.,-1,-1,.,.,.,21478,1.60,0.163845
63685,chrY,90738569,90738718,17186,.,-1,-1,.,.,.,17186,1.73,0.032510
63686,chrY,90852794,90852918,22615,.,-1,-1,.,.,.,22615,1.55,0.225450

In [5]:
# Extract the "gene_id" information and create a new column
df['gene_id'] = df['Metadata'].str.extract(r'gene_id"([^"]+)"', expand=False)
# Fill rows without "gene_id" with NA
df['gene_id'].fillna('NA', inplace=True)

# Extract the "transcript_id" information and create a new column
df['transcript_id'] = df['Metadata'].str.extract(r'transcript_id"([^"]+)"', expand=False)
# Fill rows without "transcript_id" with NA
df['transcript_id'].fillna('NA', inplace=True)

# Extract the "gene_name" information and create a new column
df['gene_name'] = df['Metadata'].str.extract(r'gene_name"([^"]+)"', expand=False)
# Fill rows without "gene_name" with NA
df['gene_name'].fillna('NA', inplace=True)

# Extract the "gene_name2" information and create a new column
df['gene_name2'] = df['Metadata'].str.extract(r'gene_name2"([^"]+)"', expand=False)
# Fill rows without "gene_name2" with NA
df['gene_name2'].fillna('NA', inplace=True)

# Extract the "gene_biotype" information and create a new column
df['gene_biotype'] = df['Metadata'].str.extract(r'gene_biotype"([^"]+)"', expand=False)
# Fill rows without "gene_biotype" with NA
df['gene_biotype'].fillna('NA', inplace=True)

# Extract the "NR_annotation" information and create a new column
df['NR_annotation'] = df['Metadata'].str.extract(r'NR_annotation"([^"]+)"', expand=False)
# Fill rows without "NR_annotation" with NA
df['NR_annotation'].fillna('NA', inplace=True)

# Remove the "Metadata" column
df.drop(columns=['Metadata'], inplace=True)

# Display the DataFrame
df

/tmp/local/51093422/ipykernel_1816000/2678151511.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gene_id'].fillna('NA', inplace=True)
/tmp/local/51093422/ipykernel_1816000/2678151511.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['transcript_id'].fillna('NA', inplace=True)
/tmp/local/51093422/ipykernel_1816000/2678151511.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gene_name'].fillna('NA', inplace=True)
/tmp/local/51093422/ipykernel_1816000/2678151511.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gene_name2'].fillna('NA', inplace=True)
/tmp/local/51093422/ipykernel_1816000/2678151511.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gene_biotype'].fillna('NA', inplace=True)
/tmp/local/51093422/ipykernel_1816000/2678151511.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NR_annotation'].fillna('NA', inplace=True)

,Chromosome,AHR_Bound_Start,AHR_Bound_End,AHR_Site_Unique_ID,GTF_Chromosome,Gene_Start,Gene_End,Gene_Strand,Gene_ORIG_Start,Unique Peak ID,Fold-Change,FDR,gene_id,transcript_id,gene_name,gene_name2,gene_biotype,NR_annotation
0,chr1,3326148,3326272,19350,chr1,3284705,3751721,-,3741721,19350,1.61,0.080145,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA
1,chr1,3391423,3391572,18914,chr1,3284705,3751721,-,3741721,18914,1.76,0.067137,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA
2,chr1,3493323,3493697,12751,chr1,3284705,3751721,-,3741721,12751,1.93,0.002963,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA
3,chr1,3547998,3548297,4100,chr1,3284705,3751721,-,3741721,4100,2.87,0.000000,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA
4,chr1,3547998,3548297,4100,chr1,3526810,3583776,+,3536810,4100,2.87,0.000000,Gm1992,Gm1992,Gm1992,Gm1992,antisense,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63682,chrY,29559970,29560069,22408,.,-1,-1,.,.,22408,1.54,0.213942,NA,NA,NA,NA,NA,NA
63683,chrY,40828445,40828644,21376,.,-1,-1,.,.,21376,1.54,0.159602,NA,NA,NA,NA,NA,NA
63684,chrY,61734478,61734577,21478,.,-1,-1,.,.,21478,1.60,0.163845,NA,NA,NA,NA,NA,NA
63685,chrY,90738569,90738718,17186,.,-1,-1,.,.,17186,1.73,0.032510,NA,NA,NA,NA,NA,NA
63686,chrY,90852794,90852918,22615,.,-1,-1,.,.,22615,1.55,0.225450,NA,NA,NA,NA,NA,NA

In [6]:
# Drop duplicate rows and keep the first occurrence
df = df.drop_duplicates(keep='first')

# Display the DataFrame
df

,Chromosome,AHR_Bound_Start,AHR_Bound_End,AHR_Site_Unique_ID,GTF_Chromosome,Gene_Start,Gene_End,Gene_Strand,Gene_ORIG_Start,Unique Peak ID,Fold-Change,FDR,gene_id,transcript_id,gene_name,gene_name2,gene_biotype,NR_annotation
0,chr1,3326148,3326272,19350,chr1,3284705,3751721,-,3741721,19350,1.61,0.080145,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA
1,chr1,3391423,3391572,18914,chr1,3284705,3751721,-,3741721,18914,1.76,0.067137,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA
2,chr1,3493323,3493697,12751,chr1,3284705,3751721,-,3741721,12751,1.93,0.002963,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA
3,chr1,3547998,3548297,4100,chr1,3284705,3751721,-,3741721,4100,2.87,0.000000,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA
4,chr1,3547998,3548297,4100,chr1,3526810,3583776,+,3536810,4100,2.87,0.000000,Gm1992,Gm1992,Gm1992,Gm1992,antisense,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63682,chrY,29559970,29560069,22408,.,-1,-1,.,.,22408,1.54,0.213942,NA,NA,NA,NA,NA,NA
63683,chrY,40828445,40828644,21376,.,-1,-1,.,.,21376,1.54,0.159602,NA,NA,NA,NA,NA,NA
63684,chrY,61734478,61734577,21478,.,-1,-1,.,.,21478,1.60,0.163845,NA,NA,NA,NA,NA,NA
63685,chrY,90738569,90738718,17186,.,-1,-1,.,.,17186,1.73,0.032510,NA,NA,NA,NA,NA,NA
63686,chrY,90852794,90852918,22615,.,-1,-1,.,.,22615,1.55,0.225450,NA,NA,NA,NA,NA,NA

In [7]:
# Count unique values and their counts in the 'gene_name' column
gene_name_counts = df['gene_name'].value_counts().reset_index()
gene_name_counts.columns = ['gene_name', 'count']

# Create a new DataFrame 'df2' with the unique values and their counts
df2 = gene_name_counts

df2

      gene_name  count
0            NA   2652
1      lnc10851    153
2       lnc7308     51
3         Hjurp     44
4       lnc3293     43
...         ...    ...
21275    Ralbp1      1
21276  lnc30141      1
21277  lnc30142      1
21278  lnc30143      1
21279     Ddx3y      1

[21280 rows x 2 columns]

In [9]:
df[df['gene_name']== 'Cyp1a1']

,Chromosome,AHR_Bound_Start,AHR_Bound_End,AHR_Site_Unique_ID,GTF_Chromosome,Gene_Start,Gene_End,Gene_Strand,Gene_ORIG_Start,Unique Peak ID,Fold-Change,FDR,gene_id,transcript_id,gene_name,gene_name2,gene_biotype,NR_annotation
61023,chr9,57590433,57590682,16765,chr9,57585211,57611107,+,57595211,16765,1.71,0.026246,Cyp1a1,Cyp1a1,Cyp1a1,NM_009992#NM_001136059(Non-Dups),NM,NA
61026,chr9,57591408,57591782,18005,chr9,57585211,57611107,+,57595211,18005,1.77,0.046786,Cyp1a1,Cyp1a1,Cyp1a1,NM_009992#NM_001136059(Non-Dups),NM,NA
61030,chr9,57593308,57593732,10686,chr9,57585211,57611107,+,57595211,10686,2.27,0.000731,Cyp1a1,Cyp1a1,Cyp1a1,NM_009992#NM_001136059(Non-Dups),NM,NA
61034,chr9,57595158,57596007,12017,chr9,57585211,57611107,+,57595211,12017,1.96,0.001660,Cyp1a1,Cyp1a1,Cyp1a1,NM_009992#NM_001136059(Non-Dups),NM,NA
61036,chr9,57601083,57601857,3668,chr9,57585211,57611107,+,57595211,3668,3.32,0.000000,Cyp1a1,Cyp1a1,Cyp1a1,NM_009992#NM_001136059(Non-Dups),NM,NA
61037,chr9,57603083,57604607,5,chr9,57585211,57611107,+,57595211,5,27.19,0.000000,Cyp1a1,Cyp1a1,Cyp1a1,NM_009992#NM_001136059(Non-Dups),NM,NA
61038,chr9,57604708,57604907,14805,chr9,57585211,57611107,+,57595211,14805,1.94,0.009230,Cyp1a1,Cyp1a1,Cyp1a1,NM_009992#NM_001136059(Non-Dups),NM,NA
61039,chr9,57605783,57606032,14249,chr9,57585211,57611107,+,57595211,14249,1.83,0.006608,Cyp1a1,Cyp1a1,Cyp1a1,NM_009992#NM_001136059(Non-Dups),NM,NA

In [10]:
# Save the DataFrame
df2.to_csv('AHR_Binding_Counts.txt', sep='\t', index=False)

In [11]:
df3 = df.copy()

In [12]:
# Create a new 'length' column by subtracting 'AHR_Bound_Start' from 'AHR_Bound_End'
df3['Length'] = df3['AHR_Bound_End'] - df3['AHR_Bound_Start']

# Create a new 'AHR_Bound_Avg' column by calculating the average of 'AHR_Bound_End' and 'AHR_Bound_Start'
df3['AHR_Bound_Avg'] = (df3['AHR_Bound_End'] + df3['AHR_Bound_Start']) / 2


# Convert 'Gene_ORIG_Start' column to a numeric data type, handling the "." values by converting them to NaN
df3['Gene_ORIG_Start_Temp'] = pd.to_numeric(df3['Gene_ORIG_Start'], errors='coerce')


# Initialize the 'Dist_to_Start' column with NaN values
df3['Dist_to_Start'] = None

# Calculate 'Dist_to_Start' based on 'Gene_Strand'
df3.loc[df3['Gene_Strand'] == '-', 'Dist_to_Start'] = df3['Gene_ORIG_Start_Temp'] - df3['AHR_Bound_Avg']
df3.loc[df3['Gene_Strand'] == '+', 'Dist_to_Start'] = df3['AHR_Bound_Avg'] - df3['Gene_ORIG_Start_Temp']


df3

,Chromosome,AHR_Bound_Start,AHR_Bound_End,AHR_Site_Unique_ID,GTF_Chromosome,Gene_Start,Gene_End,Gene_Strand,Gene_ORIG_Start,Unique Peak ID,...,gene_id,transcript_id,gene_name,gene_name2,gene_biotype,NR_annotation,Length,AHR_Bound_Avg,Gene_ORIG_Start_Temp,Dist_to_Start
0,chr1,3326148,3326272,19350,chr1,3284705,3751721,-,3741721,19350,...,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA,124,3326210.0,3741721.0,415511.0
1,chr1,3391423,3391572,18914,chr1,3284705,3751721,-,3741721,18914,...,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA,149,3391497.5,3741721.0,350223.5
2,chr1,3493323,3493697,12751,chr1,3284705,3751721,-,3741721,12751,...,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA,374,3493510.0,3741721.0,248211.0
3,chr1,3547998,3548297,4100,chr1,3284705,3751721,-,3741721,4100,...,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NM,NA,299,3548147.5,3741721.0,193573.5
4,chr1,3547998,3548297,4100,chr1,3526810,3583776,+,3536810,4100,...,Gm1992,Gm1992,Gm1992,Gm1992,antisense,NA,299,3548147.5,3536810.0,11337.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63682,chrY,29559970,29560069,22408,.,-1,-1,.,.,22408,...,NA,NA,NA,NA,NA,NA,99,29560019.5,NaN,None
63683,chrY,40828445,40828644,21376,.,-1,-1,.,.,21376,...,NA,NA,NA,NA,NA,NA,199,40828544.5,NaN,None
63684,chrY,61734478,61734577,21478,.,-1,-1,.,.,21478,...,NA,NA,NA,NA,NA,NA,99,61734527.5,NaN,None
63685,chrY,90738569,90738718,17186,.,-1,-1,.,.,17186,...,NA,NA,NA,NA,NA,NA,149,90738643.5,NaN,None
63686,chrY,90852794,90852918,22615,.,-1,-1,.,.,22615,...,NA,NA,NA,NA,NA,NA,124,90852856.0,NaN,None

In [16]:
# Rename the columns
df3 = df3.rename(columns={
    'Chromosome': 'Chr',
    'AHR_Bound_Start': 'Start',
    'AHR_Bound_End': 'End',
    'AHR_Site_Unique_ID': 'Active_Region',
    'GTF_Chromosome': 'GTF_Chrom',
    'Gene_Start': 'Gene_Start',
    'Gene_End': 'Gene_End',
    'Gene_Strand': 'Strand',
    'Gene_ORIG_Start': 'Gene_ORIG_Start',
    'gene_id': 'Gene_ID',
    'transcript_id': 'Transcript_ID',
    'gene_name': 'Gene_Name',
    'gene_name2': 'Gene_Name2',
    'gene_biotype': 'Gene_Biotype',
    'NR_annotation': 'NR_Annotation',
    'Dist_to_Start': 'Dist_to_Start'
})

# Select the desired columns to create a new DataFrame
df_trimmed = df3[['Active_Region', 'Chr', 'Start', 'End', 'Length', 
                  'Dist_to_Start', 'Fold-Change', 'FDR', 'Gene_Biotype',
                  'Gene_ID', 'Transcript_ID', 'Gene_Name', 'Gene_Name2','NR_Annotation']]

df_trimmed

,Active_Region,Chr,Start,End,Length,Dist_to_Start,Fold-Change,FDR,Gene_Biotype,Gene_ID,Transcript_ID,Gene_Name,Gene_Name2,NR_Annotation
0,19350,chr1,3326148,3326272,124,415511.0,1.61,0.080145,NM,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NA
1,18914,chr1,3391423,3391572,149,350223.5,1.76,0.067137,NM,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NA
2,12751,chr1,3493323,3493697,374,248211.0,1.93,0.002963,NM,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NA
3,4100,chr1,3547998,3548297,299,193573.5,2.87,0.000000,NM,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NA
4,4100,chr1,3547998,3548297,299,11337.5,2.87,0.000000,antisense,Gm1992,Gm1992,Gm1992,Gm1992,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63682,22408,chrY,29559970,29560069,99,None,1.54,0.213942,NA,NA,NA,NA,NA,NA
63683,21376,chrY,40828445,40828644,199,None,1.54,0.159602,NA,NA,NA,NA,NA,NA
63684,21478,chrY,61734478,61734577,99,None,1.60,0.163845,NA,NA,NA,NA,NA,NA
63685,17186,chrY,90738569,90738718,149,None,1.73,0.032510,NA,NA,NA,NA,NA,NA
63686,22615,chrY,90852794,90852918,124,None,1.55,0.225450,NA,NA,NA,NA,NA,NA

In [18]:
df_trimmed_sig = df_trimmed[df_trimmed['FDR']<= 0.05]
df_trimmed_sig

,Active_Region,Chr,Start,End,Length,Dist_to_Start,Fold-Change,FDR,Gene_Biotype,Gene_ID,Transcript_ID,Gene_Name,Gene_Name2,NR_Annotation
2,12751,chr1,3493323,3493697,374,248211.0,1.93,0.002963,NM,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NA
3,4100,chr1,3547998,3548297,299,193573.5,2.87,0.000000,NM,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NA
4,4100,chr1,3547998,3548297,299,11337.5,2.87,0.000000,antisense,Gm1992,Gm1992,Gm1992,Gm1992,NA
5,6320,chr1,3585223,3585547,324,156336.0,2.53,0.000000,NM,Xkr4,Xkr4,Xkr4,NM_001011874(Non-Dups),NA
10,14169,chr1,4584173,4584347,174,-1586.0,1.83,0.006378,lncRNA,lnc_inter_chr1_15568,lnc_inter_chr1_15568,lnc15568,lnc_inter_chr1_15568,lnc15568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63675,12387,chrX,168763996,168764195,199,2942.5,2.02,0.002412,lncRNA,lnc_as_chrX_15546,lnc_as_chrX_15546,lnc15546,lnc_as_chrX_15546,lnc15546_G530011O06RikGm15726
63677,12387,chrX,168763996,168764195,199,295900.5,2.02,0.002412,NM,Mid1,Mid1,Mid1,NM_010797#NM_001290506#NM_001290512#NM_001290505#NM_001290504(Non-Dups),NA
63679,7713,chrY,931650,931974,324,34024.0,2.27,0.000000,NM,Kdm5d,Kdm5d,Kdm5d,NM_011419(Non-Dups),NA
63681,15307,chrY,1286350,1286549,199,163.5,1.77,0.012645,NM,Ddx3y,Ddx3y,Ddx3y,NM_012008(Non-Dups),NA
63685,17186,chrY,90738569,90738718,149,None,1.73,0.032510,NA,NA,NA,NA,NA,NA

In [19]:
df_trimmed.to_csv('MMU_Chromosomal_Location_of_AHR_Binding_Sig0.05.txt', sep='\t', index=False)