# Process mm39 AHR enrichment sites

### 1. Import Packages

In [1]:
import numpy as np
import pandas as pd

### 2. Import RAW data

In [3]:
# Define the file path
file_path = "./RAW_Data/mm10_AHR_Binding_Regions_temp.bed"

# Read the file into a DataFrame
df = pd.read_csv(file_path, sep='\t', header=0, index_col=None)

# Display the DataFrame
df

,Chromosome,AHR_Bound_Start,AHR_Bound_End,AHR_Site_Unique_ID,GTF_Chromosome,Gene_Start,Gene_End,Gene_Strand,Gene_ORIG_Start,Metadata
0,chr1,3326148,3326272,19350,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xk..."
1,chr1,3391423,3391572,18914,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xk..."
2,chr1,3493323,3493697,12751,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xk..."
3,chr1,3547998,3548297,4100,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xk..."
4,chr1,3547998,3548297,4100,chr1,3526810,3583776,+,3536810,"gene_id""Gm1992"";transcript_id""Gm1992"";gene_nam..."
...,...,...,...,...,...,...,...,...,...,...
45111,chrY,29559970,29560069,22408,.,-1,-1,.,.,.
45112,chrY,40828445,40828644,21376,.,-1,-1,.,.,.
45113,chrY,61734478,61734577,21478,.,-1,-1,.,.,.
45114,chrY,90738569,90738718,17186,.,-1,-1,.,.,.
45115,chrY,90852794,90852918,22615,.,-1,-1,.,.,.

In [5]:
# Define the file path
file_path = "./RAW_Data/AHR_Enrichment_Male_2hr.txt"

# Read the file into a DataFrame
df2 = pd.read_csv(file_path, sep='\t', header=0, index_col=None)

df2_subset = df2[['Unique Peak ID', 'Fold-Change', 'FDR']]

# Display the DataFrame
df2_subset

       Unique Peak ID  Fold-Change       FDR
0                   1       133.90  0.000000
1                   1       133.90  0.000000
2                   2        34.03  0.000000
3                   3        34.62  0.000000
4                   4        30.36  0.000000
...               ...          ...       ...
31194           23710         1.56  0.306849
31195           23711         1.51  0.306983
31196           23711         1.51  0.306983
31197           23712         1.55  0.307084
31198           23713         1.64  0.307091

[31199 rows x 3 columns]

In [6]:
merged_df = df.merge(df2_subset, left_on="AHR_Site_Unique_ID", right_on="Unique Peak ID", how="left")
merged_df

,Chromosome,AHR_Bound_Start,AHR_Bound_End,AHR_Site_Unique_ID,GTF_Chromosome,Gene_Start,Gene_End,Gene_Strand,Gene_ORIG_Start,Metadata,Unique Peak ID,Fold-Change,FDR
0,chr1,3326148,3326272,19350,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xk...",19350,1.61,0.080145
1,chr1,3391423,3391572,18914,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xk...",18914,1.76,0.067137
2,chr1,3493323,3493697,12751,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xk...",12751,1.93,0.002963
3,chr1,3547998,3548297,4100,chr1,3284705,3751721,-,3741721,"gene_id""Xkr4"";transcript_id""Xkr4"";gene_name""Xk...",4100,2.87,0.000000
4,chr1,3547998,3548297,4100,chr1,3526810,3583776,+,3536810,"gene_id""Gm1992"";transcript_id""Gm1992"";gene_nam...",4100,2.87,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63682,chrY,29559970,29560069,22408,.,-1,-1,.,.,.,22408,1.54,0.213942
63683,chrY,40828445,40828644,21376,.,-1,-1,.,.,.,21376,1.54,0.159602
63684,chrY,61734478,61734577,21478,.,-1,-1,.,.,.,21478,1.60,0.163845
63685,chrY,90738569,90738718,17186,.,-1,-1,.,.,.,17186,1.73,0.032510
63686,chrY,90852794,90852918,22615,.,-1,-1,.,.,.,22615,1.55,0.225450

In [12]:
merged_df.to_csv('mm39_AHR_Binding_Regions.bed', sep='\t', index=False)